{{ define "main" }}
<!-- 添加 github markdown css 样式 from 字节跳动CDN -->
<head>
    <link rel="stylesheet" href="https://s0.pstatp.com/cdn/expire-1-M/github-markdown-css/3.0.1/github-markdown.min.css">
</head>
<section class="blog-single section">
    <div class="container markdown-body">
        <div class="row">
            <div class="col-md-8 mx-auto">
                {{ if .Params.image }}
                <img src="{{ with .Params.image }}{{ . | absURL }}{{ end }}" class="w-100 mb-3" alt="Post-Image">
                {{ end }}
                <h2>{{ .Title }}</h2>
                <div class="post-meta mb-5">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span>作者：</span>
                            {{ .Params.author }}
                        </li>
                        <li class="list-inline-item">
                            <span>发布于：</span>
                            <span>{{ .Date.Format .Site.Params.dateFormat }}</span>
                        </li>
                    </ul>
                </div>
                {{ .Content }}
            </div>
        </div>
    </div>
</section>

{{ end }}